[tool.ruff]
target-version = "py312"
line-length = 100
src = ["apps", "backend"]
exclude = [
  ".venv",
  "venv",
  "migrations",
]

[tool.ruff.lint]
select = ["E", "F", "I", "UP"]
ignore = ["E501"]

